@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabla {
    width: 100%;
    border: .5rem solid v.$secundario;
    text-align: center;
    border-collapse: collapse;

    &__thead {
        background-color: v.$secundario;
    }

    &__th {
        padding: 2rem;
        font-weight: 700;
    }

    &__tr {

        &:hover {
            background-color: darken(v.$primario, 10%);
        }
    }

    &__td {
        padding: 1rem;
        font-size: 2.2rem;
    }
}