@use 'base/variables' as v;
@use 'base/mixins' as m;

.cita {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .1), rgb(0 0 0 / .1)), -webkit-image-set(url(../img/bg_citas.avif) 1x, url(../img/bg_citas.webp) 1x, url(../img/bg_citas.jpg) 1x);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; //para efecto parallax
    padding: 5rem 0;
    text-align: center;

    &__heading {
        @include m.heading;
        color: v.$blanco;
        font-size: 6rem;
    }

    &__texto {
        color: v.$blanco;
        max-width: 60rem;
        margin: 0 auto;
        line-height: 1.8;
    }

    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        padding: 2rem 10rem;
    }
}