@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    text-align: center;
    padding-top: 5rem;

    &__grid {
        @include m.tablet {
            @include m.grid(3, 2rem);            
        }
    }

    &__widget {

        &:last-of-type {
            display: flex;
            flex-direction: column;
            align-items: center
        }

    }

    &__heading {
        @include m.heading;
        font-size: 3.4rem;
    }

    &__texto {
        line-height: 1.8;

    }

    &__copyright {
        max-width: 120rem;
        margin: 2rem auto 0 auto;
        border-top: 1px solid darken(v.$grisClaro, 10%);
        font-size: 1.6rem;
        padding: 2rem;
        color: v.$gris;
    }
}